.spinner {
  border: 0.2rem solid var(--ui04);
  border-top-color: var(--ui01);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
